In [2]:
import pandas as pd;

In [3]:
media = pd.read_csv('C:/Users/emilj/OneDrive/Desktop/python Project/KEJ/archive (2)/Viral_Social_Media_Trends.csv')

In [4]:
media_copy = media.copy()

In [5]:
media

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,Post_1,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Post_2,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Post_3,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,Post_4,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,Post_5,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium
...,...,...,...,...,...,...,...,...,...,...
4995,Post_4996,YouTube,#Education,Video,Japan,4258236,381509,59209,4674,High
4996,Post_4997,Instagram,#Education,Video,UK,4841525,166266,54841,4832,Medium
4997,Post_4998,YouTube,#Fashion,Shorts,USA,2004080,32401,75229,33875,Low
4998,Post_4999,Instagram,#Gaming,Shorts,Canada,2221665,46996,12954,42832,Low
4999,Post_5000,Instagram,#Fashion,Reel,Japan,2224007,72744,29945,46381,Low

In [6]:
media.loc[234]

Post_ID             Post_235
Platform             YouTube
Hashtag               #Viral
Content_Type            Reel
Region                 Japan
Views                1715566
Likes                 326676
Shares                 69635
Comments               19235
Engagement_Level         Low
Name: 234, dtype: object

In [7]:
type(media.loc[234])

pandas.core.series.Series

In [8]:
media.head(5)

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,Post_1,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Post_2,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Post_3,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,Post_4,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,Post_5,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium

In [9]:
media.tail(4)

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
4996,Post_4997,Instagram,#Education,Video,UK,4841525,166266,54841,4832,Medium
4997,Post_4998,YouTube,#Fashion,Shorts,USA,2004080,32401,75229,33875,Low
4998,Post_4999,Instagram,#Gaming,Shorts,Canada,2221665,46996,12954,42832,Low
4999,Post_5000,Instagram,#Fashion,Reel,Japan,2224007,72744,29945,46381,Low

In [10]:
media.sample(10)

,Post_ID,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
511,Post_512,TikTok,#Music,Post,UK,4038519,320781,72443,16822,High
4396,Post_4397,TikTok,#Fashion,Tweet,India,582999,200303,2292,45395,High
828,Post_829,YouTube,#Fashion,Post,Japan,4586518,265120,57069,18054,Medium
2505,Post_2506,Twitter,#Challenge,Live Stream,Brazil,1557528,434353,94792,47416,High
2368,Post_2369,Instagram,#Viral,Video,Japan,4530657,343884,23584,33459,Low
4873,Post_4874,Instagram,#Fitness,Video,Japan,2758867,340168,97166,37399,High
4767,Post_4768,YouTube,#Dance,Video,Australia,2618299,174129,18094,29585,High
233,Post_234,YouTube,#Education,Shorts,USA,1465227,158579,8809,33511,High
4113,Post_4114,Instagram,#Music,Live Stream,Brazil,3042134,227819,20776,10220,Low
913,Post_914,Twitter,#Fitness,Shorts,Brazil,4741739,170278,66069,18352,High

In [13]:
media.shape

(5000, 10)